@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #212121;
}

button {
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.controls {
  padding: 0.5rem 0;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.status, .generations {
  color: #fff;
  font-family: 'Share Tech Mono';
  font-size: 0.7rem;
  text-transform: uppercase;
}
#generation {
  margin-left: 1rem;
  color: blue;
}
#status {
  margin-left: 1rem;
  color: red;
}

.board {
  display: grid;
  grid-template-columns: repeat(35, 2rem);
  grid-template-rows: repeat(20, 2rem);
  grid-gap: 2px;
}

.cell {
  cursor: pointer;
  background-color: #2a2a2a;
}

.board.active .cell {
  cursor: default;
}

.board:not(.active) .cell:not(.alive):hover {
  background-color: #393939;
}

.cell.alive {
  background-color: #ff6b00;
}
